.container-detailSeries {
  min-height: 100vh;
}

.return i {
  color: #fff;
  font-size: 24px;
  margin: 15px;
  position: absolute;
  z-index: 100;
}

.container-infBg {
  display: flex;
  position: absolute;
  top: 220px;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto; 
}

.card {
  width: 300px;
}
