
.container-gender {
display: flex;
width: 100%;
position: absolute;
background-color: rgba(0, 0, 0, 0.941);
color: #ffffff;
z-index: 10;
border-radius: 10px;
}
.container-gender a {
  font-size: 14px;
  text-transform: uppercase;
  margin: 5px 0;
  color: #ffffff;
  text-decoration: none;
  transform: scale(0.9);
  text-transform: uppercase;
  transition: all ease 0.2s;
}

.container-gender a:hover {
  transform: scale(1);
}

.container-gender ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
  padding: 1em 0;
  box-sizing: border-box;
  align-items: flex-start;
}

.container-gender ul li {
  display: flex;
  min-width: 150px;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;
}


@media (max-width: 600px) {
  .container-gender ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}