.container-principal {
  display: block;
  height: 60px;
}

.container-nav {
  background-color: #1c1e21;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0.5em 8em;
  align-items: center;
}

.nav {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

.ul li {
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;

}

.ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1.5;
  transition: all 0.5s;
}
.ul li a:hover {
  border-bottom: solid 2px #fff;
}
.ul li i {
  font-size: 14px;
  color: #fff;
}

.itens {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a  {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  margin: 0 5px;
  font-family: 'Julius Sans One', sans-serif;
}

.logo i {
  font-size: 20px;
  color: rgb(0, 99, 185);
}


.search-mobile {
  display: flex;
  margin: 1em;
}
.search-mobile i {
  font-size: 14px;
  color: #fff;
}


@media (max-width: 600px) {
  .container-nav {
    flex-direction: column;
    padding: 0.5em 1em;
  }

  .nav {
    width: 100%;
    padding: 1em 0;
  }

  .search-mobile {
    display: none;
    margin: 1em;
  }
  .itens {
    flex-direction: column;
  }

}