.container-home {
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 430px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  box-sizing: border-box;
}

.container-home::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: black;
}
.container-home::-webkit-scrollbar {
  background-color: rgb(0, 99, 185);
  height: 8px;
}

.card {
  width: 500px;
  padding-right: 20px;
  box-sizing: border-box;
  height: auto;
  scroll-snap-align: start;
  z-index: 10;
}

.card img {
  width: 240px;
  height: 360px;
}
.card:hover {
  transition: all 0.7s ease;
  transform: scale(1);
}

.card img:hover {
  border: solid 2px #fff;
  transition: all 0.3s ease;
  border-radius: 5px;
}
