.container-DetailFilms {
  min-height: 100vh;
}
.container-DetailFilms .return {
  margin: 20px 0 10px 20px;
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 2;
}
.container-DetailFilms .return i {
  color: #fff;
  margin-right: 20px;
  font-size: 24px;
}

.container-DetailFilms .return i:hover {
  transform: scale(1.1);
}

.container-DetailFilms .return h1 {
  margin: 0;
  color: #fff;
  font-size: 22px;
}
.container-DetailFilms section {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin: 0;
}
.container-DetailFilms section h1 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 16px;
}

.contain-bg {
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-left: 0;
}
.contain-bg img {
  width: 250px;
  margin-right: 20px;
}

.contain-bg .description {
  display: flex;
  width: 50%;
  position: absolute;
  top: 220px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.454);
}

.info {
  display: flex;
  flex-direction: column;
  color: #fff;
  letter-spacing: 1.5px;
}

.info .timer {
  margin: 5px;
}
.info strong {
  margin: 0 5px;
}
.contain-bg .description .info h1 {
  font-size: 28px;
  margin: 0;
}

.contain-bg .description .info i {
  margin: 5px;
}

.sinopse {
  width: 100%;
  margin-top: 10px;
  background-color: rgb(0, 99, 185);
  color: #fff;
  width: 80%;
  margin: 2em auto;
  padding: 1em 4em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  letter-spacing: 1.5px;
}

.contain-bg .description .info .sinopse h1 {
  font-size: 18px;
  margin: 0;
}

.more-Details {
  display: flex;
  color: #fff;
  font-size: 22px;
  margin: 0 auto 2em auto;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.more-Details h1 {
  font-size: 18px;
  margin: 30px 0;
  text-transform: uppercase;
  color: rgb(0, 99, 185);
}

.more-Details .dados {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
}
.more-Details .dados span {
  font-size: 16px;
  margin: 10px 0;
}

.iframeVideo {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .container-DetailFilms {
    margin-top: 40px;
  }

  .contain-bg .description {
    flex-direction: column;
    width: 100%;
    margin-top: -100px;
    background-color: transparent;
  }

  .contain-bg img {
    width: 220px;
    margin-right: 0;
    border-radius: 10px;
  }

  .contain-bg .description .info h1 {
    font-size: 22px;
    margin: 5px;
    text-align: center;
  }

  .sinopse {
    width: 98%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2em auto;
    padding: 1em;
  }

  .sinopse h1 {
font-size: 24px;
  }

  .sinopse {
  font-size: 14px;
  }

  .contain-bg .description .info .sinopse h1 {
    font-size: 14px;
    margin: 5px;
  }

  .contain-bg .description .info .sinopse p {
    font-size: 12px;
    margin: 0;
  }

  .more-Details {
    font-size: 10px;
  }

  .more-Details .dados {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .more-Details .dados span {
    font-size: 12px;
    margin: 5px 0;
  }
}
